<!DOCTYPE html>
<html lang="en">
<head>
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<!-- set the viewport width and initial-scale on mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- set the HandheldFriendly -->
	<meta name="HandheldFriendly" content="True">
	<!-- set the description -->
	<meta name="description" content="Coupmy-Coupons, Affiliates, Offers, Deals, Discounts &amp; Marketplace HTML Template">
	<!-- set the Keyword -->
	<meta name="keywords" content="">
	<meta name="author" content="Coupmy-Coupons, Affiliates, Offers, Deals, Discounts &amp; Marketplace HTML Template">
	<title>Coupmy-Coupons, Affiliates, Offers, Deals, Discounts &amp; Marketplace HTML Template</title>
	<!-- include the site stylesheet -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CPoppins:300,400,500,600,900%7CLily+Script+One" rel="stylesheet">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/font-awesome.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/plugins.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/icofont.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="style.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/colors.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/responsive.css">

	<link rel="stylesheet" type="text/css" href="css/style1.css">

	<link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
	<!-- include the site stylesheet -->
	<style class="color_css"></style>
</head>
<body>

	<nav>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12" style="margin-top: 13px;">
                    
                    <div id="logo" style="margin-top: 6px;"><a href="#home"><img src="images/logo.jpg" alt="logo"></a></div>
                    
                    <div id="navigation" class="visible-md visible-lg">
                        <ul id="sections">
                        	<li><a href="../../Home/html/yellow/index.html">Home</a></li>
                            <li><a href="../../Book/html/index.html" style="font-weight: 1200px;">Book</a></li>
					        <li class="current"><a href="#" style="font-weight: 1200px;">Accelerators</a></li>
					        <li><a href="../../Blog/html/index.html" style="font-weight: 1200px;">Blog</a></li>
                            <li><a href="../../Contact/open/html/index.html" style="font-weight: 1200px;">Contact</a></li>
                            <li><a href="#" style="color: #EEC51D; font-weight: 4800px;"><strong>SHOP</strong></a>
                              
                              
                        </ul>
                    </div>
                    <div id="navigation_mobile" class="visible-sm visible-xs">
                        <button class="button_nav" id="showLeft"><span aria-hidden="true" class="button_nav_icon icon-list"></span></button>   
                    </div>
                </div>    
            </div>    
        </div>    
    </nav>  
    <!-- //NAV -->
      
    <!-- MOBILE NAV -->  
    <div class="cbp-spmenu visible-sm visible-xs" id="cbp-spmenu">
        <h3>Menu</h3>
        <ul id="sections_mobile">
          <li><a href="../../Home/html/yellow/index.html">Home</a></li>
                            <li><a href="../../Book/html/index.html">Book</a></li>
					        <li class="current"><a href="#">Accelerators</a></li>
					        <li><a href="../../Blog/html/index.html">Blog</a></li>
                            <li><a href="../../Contact/open/html/index.html">Contact</a></li>
                            <li><a href="#"><strong>SHOP</strong></a>
        </ul>
    </div> 
	<!-- main container of all the page elements -->
	<div id="wrapper">
		<!-- header of the page -->
		
		<!-- header of the page end -->
		<!-- main of the page -->
		<main id="main">
			<!-- banner of the page -->
			<section class="banner bg-full overlay" style="background-image: url(http://placehold.it/1920x900);">
				<div class="holder">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 text-left">
								<h1 class="text-uppercase" style="text-align: left; margin-top: 100px;">It looks like it's <br class="hidden-xs">been furnished <br class="hidden-xs">by <span class="clr" style="color: #EEC51D;">discount</span> <br class="hidden-xs">stores</h1>
								<!-- <form action="#" class="search-form lg-round">
									<fieldset>
										<label for="search"><i class="icon icon-search"></i></label>
										<input type="search" class="form-control" id="search" placeholder="Search coupons & deals">
										<button type="submit" class="btn-icon"><i class="icon-right-arrow"></i></button>
									</fieldset>
								</form> -->
							</div>
						</div>
					</div>
				</div>
			</section>


  
			<section class="feature-sec container pad-top-lg pad-bottom-md">
				<div class="row">
					<header class="col-xs-12 text-center header">
						<h4 class="heading"><span style="color: #EEC51D; font-weight: bold;">SPECIAL</span> OFFER</h4>
						<p style="font-weight: bold; font-size: 20px; color: grey; opacity: 0.7;">Grab it before it ends</p>
					</header>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<!-- feature box of the page -->
						<div class="feature-box" data-scroll-reveal="enter left and move 50px after 0.2s">
							<span class="icon round text-center"><span class="border round"><i class="icon-restaurant"></i></span></span>
							<div class="img-holder overlay">
								<img src="http://placehold.it/360x200" alt="image description" class="img-responsive">
								<div class="over text-center">
									<h2 class="heading2">Offer Name</h2>
									<p>PDF Document</p><br>
									<time class="time" datetime="2017-02-03 20:00">Expires On : 2019-04-13</time>
								</div>
							</div>
							<a href="#" class="btn-primary text-center text-uppercase">Download</a>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<!-- feature box of the page -->
						<div class="feature-box" data-scroll-reveal="enter left and move 50px">
							<span class="icon round text-center"><span class="border round"><i class="icon-health"></i></span></span>
							<div class="img-holder overlay">
								<img src="http://placehold.it/360x200" alt="image description" class="img-responsive">
								<div class="over text-center">
									<h2 class="heading2">Offer Name</h2>
									<p>Excel Document</p><br>
									<time class="time" datetime="2017-02-03 20:00">Expires On : 2019-04-13</time>
								</div>
							</div>
							<a href="#" class="btn-primary text-center text-uppercase">Download</a>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<!-- feature box of the page -->
						<div class="feature-box" data-scroll-reveal="enter left and move 50px">
							<span class="icon round text-center"><span class="border round"><i class="icon-event"></i></span></span>
							<div class="img-holder overlay">
								<img src="http://placehold.it/360x200" alt="image description" class="img-responsive">
								<div class="over text-center">
									<h2 class="heading2">Offer Name</h2>
									<p>Word Document</p><br>
									<time class="time" datetime="2017-02-03 20:00">Expires On : 2019-04-13</time>
								</div>
							</div>
							<a href="#" class="btn-primary text-center text-uppercase">Download</a>
						</div>
					</div>
				</div>


				<!-- <section class="app-sec pad-top-lg" style="margin-top: 110px; background-color: #fbb034; background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);"> -->
				<section class="app-sec pad-top-lg" style="margin-top: 110px; background-color: #EEC51D;">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-5">
							<div class="img-holder">
								<img src="http://placehold.it/375x375" alt="image description" class="img-responsive">
							</div>
						</div>
						<div class="col-xs-12 col-sm-7">
							<div class="txt-holder">
								<h3 class="heading" style="text-align: left; text-transform: lowercase;">Download e -book now !</h3>
								<p style="text-align: left; margin-right: 20px;">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</p>
								<div class="btn-holder">
									<!-- <a href="#" class="pull-left"><img src="images/g-btn.png" alt="image description" class="img-resposnive"></a>
									<a href="#" class="pull-left"><img src="images/app-btn.png" alt="image description" class="img-resposnive"></a> -->

									<a href="coupon-detail.html" class="btn-primary text-center text-uppercase md-round img-resposnive">Download</a>


								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
				

			<!-- offer sec of the page -->
			<section class="offer-sec container pad-top-lg pad-bottom-md">
				<div class="row">
					<header class="col-xs-12 text-center header">
						<h2 style="font-family: 'Montserrat', sans-serif; font-weight:700; text-align:center; text-transform: uppercase; font-size: 40px; line-height:72px;color: #272727;">Free Stuff</h2>
					</header>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<!-- offer holder of the page -->
						<div class="offer-holder">
							<!-- col of the page -->
							<div class="col mar-bottom-xs health">
								<div class="header" style="margin-left: 95px;">
									<div class="c-logo"><img src="http://placehold.it/150x50" alt="logo" class="img-responsive"></div>
									
								</div>
								<strong class="heading6" style="text-align: center;">Upto 15% + Extra 10% Off On <br class="hidden-xs">Sofa. Furniture &amp; Dining Tables</strong>
								<span class="sub-title" style="text-align: center;">PDF Document</span>
								<div class="text-center">
									<a href="#" class="btn-primary text-center text-uppercase md-round">Download </a>
									<time class="time" datetime="2017-02-03 20:00">Expires On : Till Lifetime</time>
								</div>
							</div>
							<!-- col of the page -->
							<div class="col mar-bottom-xs res">
								<div class="header" style="margin-left: 95px;">
									<div class="c-logo"><img src="http://placehold.it/150x50" alt="logo" class="img-responsive"></div>
									
								</div>
								<strong class="heading6" style="text-align: center;">Upto 15% + Extra 10% Off On <br class="hidden-xs">Home &amp; Kitchen Appliances</strong>
								<span class="sub-title" style="text-align: center;">Excel Document</span>
								<div class="text-center">
									<a href="#" class="btn-primary text-center text-uppercase md-round">Download</a>
									<time class="time" datetime="2017-02-03 20:00">Expires On : Never</time>
								</div>
							</div>
							<!-- col of the page -->
							<div class="col mar-bottom-xs sport">
								<div class="header" style="margin-left: 95px;">
									<div class="c-logo"><img src="http://placehold.it/150x50" alt="logo" class="img-responsive"></div>
									
								</div>
								<strong class="heading6" style="text-align: center;">Upto 15% Off On Family <br class="hidden-xs">Tour Packages</strong>
								<span class="sub-title" style="text-align: center;">Word Document</span>
								<div class="text-center">
									<a href="#" class="btn-primary text-center text-uppercase md-round">Download</a>
									<time class="time" datetime="2017-02-03 20:00">Expires On : Never ever</time>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- app sec of the page -->
			
			<!-- blog sec of the page -->
			<section class="blog-sec container pad-top-lg pad-bottom-md" style="margin-top: -140px;">
				<div class="row">
					<div class="header col-xs-12 header text-center">
						<h2 style="font-family: 'Montserrat', sans-serif; font-weight:700; text-align:center; text-transform: uppercase; font-size: 40px; line-height:72px;color: #272727;">Book Content</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<!-- offer holder of the page -->
						<div class="offer-holder">
							<!-- col of the page -->
							<div class="col mar-bottom-xs health">
								<div class="header" style="margin-left: 95px;">
									<div class="c-logo"><img src="http://placehold.it/150x50" alt="logo" class="img-responsive"></div>
									
								</div>
								<strong class="heading6" style="text-align: center;">Upto 15% + Extra 10% Off On <br class="hidden-xs">Sofa. Furniture &amp; Dining Tables</strong>
								<span class="sub-title" style="text-align: center;">PDF Document</span>
								<div class="text-center">
									<a href="#" class="btn-primary text-center text-uppercase md-round">Download </a>
									<time class="time" datetime="2017-02-03 20:00">Expires On : Till Lifetime</time>
								</div>
							</div>
							<!-- col of the page -->
							<div class="col mar-bottom-xs res">
								<div class="header" style="margin-left: 95px;">
									<div class="c-logo"><img src="http://placehold.it/150x50" alt="logo" class="img-responsive"></div>
									
								</div>
								<strong class="heading6" style="text-align: center;">Upto 15% + Extra 10% Off On <br class="hidden-xs">Home &amp; Kitchen Appliances</strong>
								<span class="sub-title" style="text-align: center;">Excel Document</span>
								<div class="text-center">
									<a href="#" class="btn-primary text-center text-uppercase md-round">Download</a>
									<time class="time" datetime="2017-02-03 20:00">Expires On : Never</time>
								</div>
							</div>
							<!-- col of the page -->
							<div class="col mar-bottom-xs sport">
								<div class="header" style="margin-left: 95px;">
									<div class="c-logo"><img src="http://placehold.it/150x50" alt="logo" class="img-responsive"></div>
									
								</div>
								<strong class="heading6" style="text-align: center;">Upto 15% Off On Family <br class="hidden-xs">Tour Packages</strong>
								<span class="sub-title" style="text-align: center;">Word Document</span>
								<div class="text-center">
									<a href="#" class="btn-primary text-center text-uppercase md-round">Download</a>
									<time class="time" datetime="2017-02-03 20:00">Expires On : Never ever</time>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		<!-- main of the page end -->

		 <div class="myspecialdiv resp-container6">
            <iframe id="full-screen-me" src="elements/open/html/index4.html" style="height: 700px; background-attachment: fixed;background-position: center;background-size: cover;background-repeat: no-repeat; margin-bottom: -18%; margin-top: -65px;" height="100%" width="100%" frameborder="0" wmode="transparent" scrolling="no"></iframe>
        </div>
		
			
		<span id="back-top" class="text-center md-round fa fa-angle-up"></span>
		<!-- loader of the page -->
		<div id="loader" class="loader-holder">
			<div class="block"><img src="images/svg/bars.svg" width="60" alt="loader"></div>
		</div>
	</div>
	<!-- main container of all the page elements end -->
	<!-- include jQuery -->
	<script src="js/jquery.js"></script>
	<!-- include jQuery -->
	<script src="js/plugins.js"></script>
	<!-- include jQuery -->
	<script src="js/jquery.main.js"></script>
	<div id="style-changer" data-src="style-changer.html"></div>
</body>
</html>