// Colors
$text-color: #343434;
$date-color: #999999;
$heading-color: #000000;
$bg-light: #f8f8f8;
$bg-dark: #171717;
$border-color: #eaeaea;
$main-color: #c0945c;


// Fonts
$body-font: 'Open Sans', serif;
$heading-font: 'Raleway', sans-serif;
$alt-font: 'Libre Baskerville', serif;