<!DOCTYPE html>
<html lang="en">
<head>
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<!-- set the viewport width and initial-scale on mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- set the HandheldFriendly -->
	<meta name="HandheldFriendly" content="True">
	<!-- set the description -->
	<meta name="description" content="Coupmy-Coupons, Affiliates, Offers, Deals, Discounts &amp; Marketplace HTML Template">
	<!-- set the Keyword -->
	<meta name="keywords" content="">
	<meta name="author" content="Coupmy-Coupons, Affiliates, Offers, Deals, Discounts &amp; Marketplace HTML Template">
	<title>Coupmy-Coupons, Affiliates, Offers, Deals, Discounts &amp; Marketplace HTML Template</title>
	<!-- include the site stylesheet -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CPoppins:300,400,500,600,900%7CLily+Script+One" rel="stylesheet">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/font-awesome.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/plugins.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/icofont.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="style.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/colors.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/responsive.css">

	<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
	<!-- include the site stylesheet -->
	<style class="color_css"></style>
</head>
<body>
	<!-- main container of all the page elements -->
	<div id="wrapper">
		


				<section class="app-sec pad-top-lg" style="margin-top: 0px;">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-5" style="height: 100%;">
							<div class="img-holder" data-scroll-reveal="enter right and move 50px">
								<img src="http://placehold.it/375x375" alt="image description" class="img-responsive">
							</div>
						</div>
						<div class="col-xs-12 col-sm-7">
							<div class="txt-holder" style="margin-top: -40px;" data-scroll-reveal="enter left and move 50px">
								<h3 class="heading">Read 1 Chapter without even buying Book ! <i class="em em-face_with_cowboy_hat" style="height: 35px;"></i></h3>
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</p>
								<div class="btn-holder">
									<!-- <a href="#" class="pull-left"><img src="images/g-btn.png" alt="image description" class="img-resposnive"></a>
									<a href="#" class="pull-left"><img src="images/app-btn.png" alt="image description" class="img-resposnive"></a> -->

									<a href="coupon-detail.html" class="btn-primary text-center text-uppercase md-round img-resposnive" style="background-color: #F1C40F;">Download</a>


								</div>
							</div>
						</div>
					</div>
				</div>
			</section>


				
	<!-- main container of all the page elements end -->
	<!-- include jQuery -->
	<script src="js/jquery.js"></script>
	<!-- include jQuery -->
	<script src="js/plugins.js"></script>
	<!-- include jQuery -->
	<script src="js/jquery.main.js"></script>
	<div id="style-changer" data-src="style-changer.html"></div>
</body>
</html>