<!DOCTYPE html>
<html lang="en">
<head>
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<!-- set the viewport width and initial-scale on mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- set the HandheldFriendly -->
	<meta name="HandheldFriendly" content="True">
	<!-- set the description -->
	<meta name="description" content="Coupmy-Coupons, Affiliates, Offers, Deals, Discounts &amp; Marketplace HTML Template">
	<!-- set the Keyword -->
	<meta name="keywords" content="">
	<meta name="author" content="Coupmy-Coupons, Affiliates, Offers, Deals, Discounts &amp; Marketplace HTML Template">
	<title>Coupmy-Coupons, Affiliates, Offers, Deals, Discounts &amp; Marketplace HTML Template</title>
	<!-- include the site stylesheet -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CPoppins:300,400,500,600,900%7CLily+Script+One" rel="stylesheet">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/font-awesome.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/plugins.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/icofont.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="style.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/colors.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/responsive.css">
	<!-- include the site stylesheet -->
	<style class="color_css"></style>
</head>
<body>
	<!-- main container of all the page elements -->
	<div id="wrapper">
		<!-- header of the page -->
		<header id="header">
			<!-- header top of the page -->
			<div class="header-top">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<span class="txt">Welcome to Coupmy Save More With Our Deals</span>
							<ul class="align-left list-unstyled">
								<li><a href="#">Support</a></li>
								<li><a href="login.html"><i class="fa fa-unlock-alt"></i> Login</a></li>
								<li><a href="register.html"><i class="fa fa-user"></i> Register</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- header holder of the page -->
			<div class="header-holder container">
				<div class="row">
					<div class="col-xs-12">
						<div class="logo">
							<a href="home.html"><img src="images/logo.png" alt="Coupmy" class="img-resposnive"></a>
						</div>
						<div class="search-cart">
							<form action="#" class="search-form">
								<fieldset>
									<select>
										<option value="0">Select Category</option>
										<option value="1">Select Category</option>
										<option value="2">Select Category</option>
									</select>
									<input type="search" class="form-control" placeholder="Enter Keyword . . .">
									<button type="submit" class="sub-btn"><i class="icon-search"></i></button>
								</fieldset>
							</form>
							<a href="#" class="cart"><i class="icon-cart"></i> <span class="num round">2</span></a>
						</div>
					</div>
				</div>
			</div>
			<!-- nav holder of the page -->
			<div class="nav-holder">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<a href="#" class="nav-opener text-center hidden visible-sm visible-xs"><i class="fa fa-bars"></i></a>
							<!-- nav of the page -->
							<nav id="nav">
								<ul class="list-unstyled">
									<li>
										<a href="#">Home</a>
										<ul class="drop-down list-unstyled">
											<li><a href="home.html">Homepage 1</a></li>
											<li><a href="home2.html">Homepage 2</a></li>
										</ul>
									</li>
									<li><a href="about.html">About Us</a></li>
									<li>
										<a href="#">Blog</a>
										<ul class="drop-down list-unstyled">
											<li><a href="blog.html">Blog</a></li>
											<li><a href="blog-detail.html">Blog Detail</a></li>
										</ul>
									</li>
									<li class="active">
										<a href="#">Page</a>
										<ul class="drop-down list-unstyled">
											<li><a href="coupon1.html">Coupon</a></li>
											<li><a href="coupon-detail.html">Coupon Detail</a></li>
											<li><a href="category.html">Category</a></li>
											<li><a href="login.html">Login</a></li>
											<li><a href="register.html">Register</a></li>
											<li><a href="store.html">Store</a></li>
											<li><a href="submit-coupon.html">Submit Coupon</a></li>
										</ul>
									</li>
									<li><a href="contact.html">Contact Us</a></li>
								</ul>
							</nav>
							<a href="submit-coupon.html" class="btn-primary text-center text-uppercase">Submit Coupon</a>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- header of the page end -->
		<!-- main of the page -->
		<main id="main">
			<!-- banner of the page -->
			<section class="banner banner3 bg-full overlay" style="background-image: url(http://placehold.it/1920x320);">
				<div class="holder">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 text-center">
								<h1>Coupon Single</h1>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- twocolumns of the page -->
			<div class="twocolumns pad-top-lg pad-bottom-lg">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<!-- content of the page -->
							<article id="content">
								<!-- post detail of the page -->
								<div class="post-detail style2">
									<div class="img-holder">
										<img src="http://placehold.it/770x340" alt="image description" class="img-responsive">
									</div>
									<div class="txt-holder">
										<header class="header">
											<div class="coupon-logo">
												<img src="http://placehold.it/100x50" alt="Red Cart" class="img-responsive">
											</div>
											<div class="align-left">
												<h3 class="heading3">Upto 15% + Extra 10% Off Home &amp; Kitchen Appliances</h3>
												<ul class="list-unstyled list-show">
													<li><a href="#"><i class="icon icon-smile"></i> Verified</a></li>
													<li><a href="#"><i class="icon icon-user"></i> 35 Used</a></li>
												</ul>
											</div>
										</header>
										<p><i>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</i></p>
										<p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
										<footer class="footer">
											<a href="#" class="btn-primary text-center text-uppercase">Get Coupon Code</a>
											<ul class="list-unstyled social-network">
												<li><a href="#"><i class="fa fa-facebook"></i></a></li>
												<li><a href="#"><i class="fa fa-twitter"></i></a></li>
												<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
												<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
											</ul>
										</footer>
									</div>
								</div>
								<!-- comments block of the page -->
								<div class="comments-block style2">
									<h4 class="heading2">Comments</h4>
									<article class="commment-area">
										<a href="#" class="img"><img src="http://placehold.it/80x80" alt="image description" class="img-responsive"></a>
										<div class="txt-holder">
											<div class="header">
												<h3><a href="#">Micheal</a></h3>
												<time datetime="2018-01-01">Sep 13, 2018</time>
											</div>
											<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore verit.</p>
										</div>
									</article>
									<!-- comment one level of the page -->
									<div class="commment-onelevel">
										<article class="commment-area">
											<a href="#" class="img"><img src="http://placehold.it/80x80" alt="image description" class="img-responsive"></a>
											<div class="txt-holder">
												<div class="header">
													<h3><a href="#">David</a></h3>
													<time datetime="2018-01-01">Sep 13, 2018</time>
												</div>
												<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus doloremque laudantium totam rem aperiam eaque.</p>
											</div>
										</article>
									</div>
									<!-- comment area of the page -->
									<article class="commment-area">
										<a href="#" class="img"><img src="http://placehold.it/80x80" alt="image description" class="img-responsive"></a>
										<div class="txt-holder">
											<div class="header">
												<h3><a href="#">Whity</a></h3>
												<time datetime="2018-01-01">Sep 12, 2018</time>
											</div>
											<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore verit.</p>
										</div>
									</article>
								</div>
								<!-- comments form of the page -->
								<div class="comments-form style2">
									<h4 class="heading2">Leave Your Comments</h4>
									<form action="#" class="leave-form">
										<fieldset>
											<div class="form-group">
												<div class="col">
													<input type="text" class="form-control" placeholder="Your Name *">
												</div>
												<div class="col">
													<input type="email" class="form-control" placeholder="Email Address *">
												</div>
											</div>
											<textarea placeholder="Your Comment *"></textarea>
											<button type="submit" class="btn-primary text-center text-uppercase">Post Comment</button>
										</fieldset>
									</form>
								</div>
							</article>
							<!-- sidebar of the page -->
							<aside id="sidebar">
								<!-- Widget of the page -->
								<section class="widget search-widget">
									<form action="#" class="search-form">
										<fieldset>
											<input type="search" class="form-control" placeholder="Enter Keyword">
											<button type="submit" class="sub-btn text-center text-uppercase">GO</button>
										</fieldset>
									</form>
								</section>
								<!-- Widget of the page -->
								<section class="widget category-widget">
									<h3 class="heading4">Blog Categories</h3>
									<ul class="list-unstyled category-list">
										<li><a href="#"><span class="pull-left">All Categories</span><span class="pull-right">(10)</span></a></li>
										<li><a href="#"><span class="pull-left">Beauty</span><span class="pull-right">(07)</span></a></li>
										<li><a href="#"><span class="pull-left">Health</span><span class="pull-right">(15)</span></a></li>
										<li><a href="#"><span class="pull-left">Fitness</span><span class="pull-right">(13)</span></a></li>
										<li><a href="#"><span class="pull-left">Watches</span><span class="pull-right">(05)</span></a></li>
									</ul>
								</section>
								<!-- Widget of the page -->
								<section class="widget popular-widget">
									<h3 class="heading4">Popular Stores</h3>
									<ul class="list-unstyled popular-list">
										<li><a href="#"><img src="http://placehold.it/85x85" alt="image description" class="img-responsive"></a></li>
										<li><a href="#"><img src="http://placehold.it/85x85" alt="image description" class="img-responsive"></a></li>
										<li><a href="#"><img src="http://placehold.it/85x85" alt="image description" class="img-responsive"></a></li>
										<li><a href="#"><img src="http://placehold.it/85x85" alt="image description" class="img-responsive"></a></li>
										<li><a href="#"><img src="http://placehold.it/85x85" alt="image description" class="img-responsive"></a></li>
										<li><a href="#"><img src="http://placehold.it/85x85" alt="image description" class="img-responsive"></a></li>
										<li><a href="#" class="text-uppercase">View All Stores</a></li>
									</ul>
								</section>
								<!-- Widget of the page -->
								<section class="widget news-widget">
									<h3 class="heading4">Latest News</h3>
									<ul class="list-unstyled latest-news-list">
										<li>
											<div class="img-holder round">
												<a href="#"><img src="http://placehold.it/75x75" alt="image description" class="img-responsive"></a>
											</div>
											<div class="txt-holder">
												<h3><a href="#">Veritatis Euas Arch Beatae Vitae</a></h3>
												<ul class="list-unstyled news-nav">
													<li>By <a href="#">Admin</a></li>
													<li>|</li>
													<li><time datetime="2017-02-03 20:00">Sep 07, 2017</time></li>
												</ul>
											</div>
										</li>
										<li>
											<div class="img-holder round">
												<a href="#"><img src="http://placehold.it/75x75" alt="image description" class="img-responsive"></a>
											</div>
											<div class="txt-holder">
												<h3><a href="#">Numquam Eius Modi Tempora Incid</a></h3>
												<ul class="list-unstyled news-nav">
													<li>By <a href="#">Admin</a></li>
													<li>|</li>
													<li><time datetime="2017-02-03 20:00">Sep 07, 2017</time></li>
												</ul>
											</div>
										</li>
										<li>
											<div class="img-holder round">
												<a href="#"><img src="http://placehold.it/75x75" alt="image description" class="img-responsive"></a>
											</div>
											<div class="txt-holder">
												<h3><a href="#">Vel Illum Qui Dolore Eum Fugiat</a></h3>
												<ul class="list-unstyled news-nav">
													<li>By <a href="#">Admin</a></li>
													<li>|</li>
													<li><time datetime="2017-02-03 20:00">Sep 07, 2017</time></li>
												</ul>
											</div>
										</li>
									</ul>
								</section>
								<!-- Widget of the page -->
								<section class="widget tags-widget">
									<h3 class="heading4">Popular Tags</h3>
									<ul class="list-unstyled tags-list text-center">
										<li><a href="#">Accessories</a></li>
										<li><a href="#">Watches</a></li>
										<li><a href="#">Sports</a></li>
										<li><a href="#">Beauty &amp; Fitness</a></li>
										<li><a href="#">Fashion</a></li>
									</ul>
								</section>
							</aside>
						</div>
					</div>
				</div>
			</div>
		</main>
		<!-- main of the page end -->
		<!-- footer of the page -->
		<footer id="footer">
			<!-- footer holder of the page -->
			<div class="footer-holder container">
				<div class="row">
					<div class="col-xs-12">
						<div class="col1">
							<h3 class="text-uppercase">Contact Coupmy</h3>
							<ul class="list-unstyled contact-list">
								<li>
									<span class="icon icon-location"></span>
									<address>824 Bel Meadow Drive, California, USA</address>
								</li>
								<li>
									<span class="icon icon-phone"></span>
									<span class="tel"><a href="tel:112345678520">(+11) 234 567 8520</a><a href="tel:112345678520">(+11) 234 567 8520</a></span>
								</li>
								<li>
									<span class="icon icon-email"></span>
									<span class="mail"><a href="mailto:Info@Coupmy.Com">Info@Coupmy.Com</a><a href="mailto:Mail@Coupmy.Com">Mail@Coupmy.Com</a></span>
								</li>
							</ul>
						</div>
						<div class="col2">
							<h3 class="text-uppercase">Quick Links</h3>
							<ul class="list-unstyled f-nav">
								<li><a href="#">About Us</a></li>
								<li><a href="#">Coupons</a></li>
								<li><a href="#">Offers</a></li>
								<li><a href="#">Deals</a></li>
								<li><a href="#">Latest News</a></li>
								<li><a href="#">Support</a></li>
								<li><a href="#">Contact Us</a></li>
							</ul>
						</div>
						<div class="col3">
							<h3 class="text-uppercase">Categories</h3>
							<ul class="list-unstyled tags">
								<li><a href="#">Restaurant</a></li>
								<li><a href="#">Health</a></li>
								<li><a href="#">Fitness</a></li>
								<li><a href="#">Events</a></li>
								<li><a href="#">Beauty</a></li>
								<li><a href="#">Sports</a></li>
								<li><a href="#">Electronics</a></li>
								<li><a href="#">Watches</a></li>
							</ul>
							<h3 class="text-uppercase">Follow us</h3>
							<ul class="list-unstyled socail-network">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
						<div class="col4">
							<h3 class="text-uppercase">Recent Tweets</h3>
							<ul class="list-unstyled recent-tweet">
								<li>
									<span class="icon"><i class="fa fa-twitter"></i></span>
									<div class="txt-holder">
										<p><a href="#">@Micheal Doe</a> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accu santium dolo remque laudan tium, </p>
										<time datetime="2018-02-03 20:00" class="time">Posted on 29 Sep</time>
									</div>
								</li>
								<li>
									<span class="icon"><i class="fa fa-twitter"></i></span>
									<div class="txt-holder">
										<p><a href="#">@Micheal Doe</a> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accu santium dolo remque laudan tium, </p>
										<time datetime="2018-02-03 20:00" class="time">Posted on 29 Sep</time>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- footer area of the page -->
			<div class="footer-area">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-5">
							<p>© 2017 All rights reserved. Created by Htmlbeans</p>
						</div>
						<div class="col-xs-12 col-sm-7">
							<ul class="list-unstyled footer-nav">
								<li><a href="#">Home</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">Services</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Terms&amp;Conditions</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- footer of the page end -->
		<span id="back-top" class="text-center md-round fa fa-angle-up"></span>
		<!-- loader of the page -->
		<div id="loader" class="loader-holder">
			<div class="block"><img src="images/svg/bars.svg" width="60" alt="loader"></div>
		</div>
	</div>
	<!-- main container of all the page elements end -->
	<!-- include jQuery -->
	<script src="js/jquery.js"></script>
	<!-- include jQuery -->
	<script src="js/plugins.js"></script>
	<!-- include jQuery -->
	<script src="js/jquery.main.js"></script>
	<div id="style-changer" data-src="style-changer.html"></div>
</body>
</html>