.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 7%;
}

.resp-container1 {
    position: relative;
    overflow: hidden;
    padding-top: 0%;
   
}

.resp-container2 {
    position: relative;
    overflow: hidden;
    padding-top: -20%;
    margin-top: -10%;
}

.resp-container3 {
    position: relative;
    overflow: hidden;
    padding-top: -25%;
    margin-top: -60%;
}


.resp-container4 {
    position: relative;
    overflow: hidden;
    padding-top: -25%;
    margin-top: 0%;
    margin-bottom: 7%;
    
}


.resp-container5 {
    position: relative;
    overflow: hidden;
    padding-top: -15%;
    margin-top: -10%;
}


.resp-container6 {
    position: relative;
    overflow: hidden;
    padding-top: -15%;
    margin-top: -23%;
}

